body{
    min-width: 300px;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
}

.para{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* left: 300px; */
    /* right: auto; */
}

.div1{
    display: flex;
    flex-direction: row;
}